:root {
  --font-size: 18px;
  --font-weight: 500;
  --text-color: #30444e;
  --font-family: "Roboto", sans-serif;
  --link-color: #1f2e35cc;
}
.dark {
  --text-color: #e0e0e0;
  --background-color: #181818;
  --link-color: #e0e0e0;
  --title-color: #ffff;
  --primary-color: #ee4248;
  --btn-color: #181818;
}
